html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/*****************
  Homepage
*****************/
section.categories {
  height: 100vh;
  width: 100%;
  position: relative;
}

div#groups {
  padding: 1rem;
}

div.card {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 10px;
}

div.card-body {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div.image img {
  width: 100px;
  height: 100px;
}

div.add-category {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #5fb523;
}

div.add-category a {
  display: block;
  padding: 0.7rem;
  margin: 0.5rem;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

/*****************
  New Category
*****************/
section.new-cat {
  padding: 1rem;
}

div.form {
  margin-top: 1rem;
}

.form-control {
  padding: 0.5rem;
  width: 90%;
}

.add-btn {
  padding: 0.5rem;
}

/*****************
  Transactions
*****************/
div#transactions {
  padding: 1rem;
}

div.cat-details p {
  text-align: right;
  margin-bottom: 1rem;
}

div.trans-card {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 10px;
}

div.trans-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.add-trans {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #5fb523;
}

div.add-trans a {
  display: block;
  padding: 0.7rem;
  margin: 0.5rem;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

div.cat-navbar {
  background-color: #3778c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

div.cat-navbar button {
  padding: 0.3rem;
  font-size: 1.1rem;
}

div.cat-navbar a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.notice {
  background-color: #5fb523;
  color: #fff;
  text-align: center;
  padding: 0.2rem;
}

.alert {
  background-color: rgb(255, 205, 113);
  color: rgb(87, 56, 0);
  text-align: center;
  padding: 0.2rem;
}

