html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/*****************
  Homepage
*****************/
section.categories {
  height: 100vh;
  width: 100%;
  position: relative;
}

div#groups {
  padding: 1rem;
}

div.card {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 10px;
}

div.card-body {
  display: flex;
  align-items: center;
  gap: 1rem;
}

div.image img {
  width: 100px;
  height: 100px;
}

div.add-category {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #5fb523;
}

div.add-category a {
  display: block;
  padding: 0.7rem;
  margin: 0.5rem;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

/*****************
  New Category
*****************/
section.new-cat {
  padding: 1rem;
}

div.form {
  margin-top: 1rem;
}

.form-control {
  padding: 0.5rem;
  width: 90%;
}

.add-btn {
  padding: 0.5rem;
}
